@import "./global-variables.css";

/*========== PROFILE USER ==========*/

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.user .user-profile {
  background-color: var(--primary-color);
  border-radius: 30px;
  box-shadow: var(--white-box-shadow);
  position: relative;
  width: 70vw;
  height: 70vh;
  display: flex;
}

.user .user-profile .left {
  width: 35%;
  background: linear-gradient(to right, #24273a, #363a4f);
  padding: 50px 25px;
  text-align: center;
  color: var(--primary-color);
  border-radius: 30px 0 0 30px;
}

.user .user-profile .left img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 10px;
  object-fit: cover;
}

.user .user-profile .left button {
  width: 100px;
  padding: 0.5rem 0;
  border-radius: 5rem;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  color: var(--nav-color);
  border: var(--primary-color);
  cursor: pointer;
  transition: var(--main-transition);
  margin-top: 20px;
}

.user .user-profile .left button:hover {
  transform: scale(1.1);
}

.user .user-profile .right {
  width: 65%;
  padding: 50px 25px;
  color: var(--nav-color);
}

.user .user-profile .right .owned-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.user .user-profile .right .owned-cards .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  gap: 1rem;
}

.user .user-profile .right .owned-cards .carousel .card {
  background-color: var(--card-color);
  /* width: 14vw; */
  aspect-ratio: 5/8;
  min-height: fit-content;
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  position: relative;
  box-shadow: var(--black-box-shadow);
}

.user .user-profile .right .owned-cards .carousel .card img {
  width: 100%;
  border-radius: var(--card-radius);
  object-fit: cover;
}

.user .user-profile .right .owned-cards .carousel .card h3 {
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  bottom: 10px;
  color: var(--primary-color);
  text-align: center;
}

#houses-list {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

/*========== RESPONSIVE ===========*/

@media screen and (max-width: 1100px) {
  .user .user-profile {
    width: 80vw;
    min-width: 80vw;
  }

  .user .user-profile .left img {
    height: 120px;
    width: 120px;
  }

  .user .user-profile .right .owned-cards .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }

  h2 {
    font-size: 1.2rem;
  }

  #user-info p {
    font-size: 0.7rem;
  }

  #sign-out {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .user .user-profile {
    flex-direction: column;
    height: auto;
  }

  .user .user-profile .left {
    width: 100%;
    height: 30%;
    border-radius: 30px 30px 0 0;
    padding: 25px;
  }

  .user .user-profile .left img {
    height: 100px;
    width: 100px;
    margin-bottom: 0;
  }

  .user .user-profile .right {
    width: 100%;
    height: 70%;
    padding: 25px 25px;
  }

  .user .user-profile .right .owned-cards {
    gap: 1rem;
  }

  .user .user-profile .right .owned-cards .carousel {
    grid-auto-columns: calc(100% - 100px);
    gap: 0;
  }

  .user .user-profile .right .owned-cards .carousel .card {
    width: 80%;
  }

  .user .user-profile .right .owned-cards .carousel .card h3 {
    font-size: 5vw;
  }
}
