@import "./global-variables.css";

.booster-section {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.container {
  width: 14vw;
  /* height: 300px; */
  aspect-ratio: 5 / 8;
  min-width: 190px;
  perspective: 800px; /* fonctionne pas */
}

.flipped > .card {
  transform: rotateY(-180deg);
  transition: transform 1500ms;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  /* transition: transform 1500ms; */
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: var(--card-radius);
  box-shadow: var(--black-box-shadow);
  position: absolute;
  backface-visibility: hidden; /* fonctionne pas */
}

.back {
  background-image: url(../images/card-back.jpeg);
  background-size: cover;
  background-position: center;
}

.front {
  background-color: var(--secondary-color);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.front h3 {
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  bottom: 10px;
  align-self: center;
  text-align: center;
}

.front img {
  width: 100%;
  height: 100%;
  border-radius: var(--card-radius);
  object-fit: cover;
}

#draw-btn {
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: var(--main-transition);
}

#draw-btn:hover {
  transform: scale(1.1);
}